<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__block1">
        <div class="footer__block-items">
          <div class="footer__block-item">
            <img class="footer__block-img" src="../img/footer__img1.png" alt="Ананас">
            <h4 class="footer__block-title">Garden Care</h4>
            <p class="footer__block-subtitle">We are an online plant shop offering a wide range of cheap and trendy
              plants.</p>
          </div>
          <div class="footer__block-item">
            <img class="footer__block-img" src="../img/footer__img2.png" alt="Кактус">
            <h4 class="footer__block-title">Plant Renovation</h4>
            <p class="footer__block-subtitle">We are an online plant shop offering a wide range of cheap and trendy
              plants.</p>
          </div>
          <div class="footer__block-item">
            <img class="footer__block-img" src="../img/footer__img3.png" alt="Травичка">
            <h4 class="footer__block-title">Watering Graden</h4>
            <p class="footer__block-subtitle">We are an online plant shop offering a wide range of cheap and trendy
              plants.</p>
          </div>
        </div>
        <form class="footer__form">
          <h3 class="footer__form-title">Would you like to join newsletters?</h3>
          <div class="footer__form-join">
            <input class="footer__form-input" placeholder=" enter your email address..." type="text">
            <button class="footer__form-btn">Join</button>
          </div>
          <p class="footer__form-subtitle">We usually post offers and challenges in newsletter. We’re your online
            houseplant destination. We offer a wide range of houseplants and accessories shipped directly from our
            (green)house to yours! </p>
        </form>
      </div>
      <!-- Block2 -->
      <div class="footer__block2">
        <div class="footer__block2-logo"><img src="../img/Logo.png" alt=""></div>
        <div class="footer__block2-items">
          <div class="footer__block2-item">
            <img class="footer__block2-img" src="../img/Location.png" alt="">
            <div class="footer__block2-title">70 West Buckingham Ave.Farmingdale, NY 11735</div>
          </div>
          <div class="footer__block2-item">
            <img class="footer__block2-img" src="../img/Message.png" alt="">
            <div class="footer__block2-title">contact@greenshop.com</div>
          </div>
          <div class="footer__block2-item">
            <img class="footer__block2-img" src="../img/Calling.png" alt="">
            <div class="footer__block2-title">+88 01911 717 490</div>
          </div>
        </div>
      </div>
      <!-- Block3 -->
      <div class="footer__block3">
        <div class="footer__block3-lists">
          <ul class="footer__block3-list">
            <li class="footer__block3-title">My Account</li>
            <li class="footer__block3-item">My Account</li>
            <li class="footer__block3-item"> Our stores</li>
            <li class="footer__block3-item"> Contact us</li>
            <li class="footer__block3-item"> Career</li>
            <li class="footer__block3-item"> Specials</li>
          </ul>
          <ul class="footer__block3-list">
            <li class="footer__block3-title">Help & Guide</li>
            <li class="footer__block3-item">Help Center
            </li>
            <li class="footer__block3-item"> How to Buy</li>
            <li class="footer__block3-item"> Shipping & Delivery</li>
            <li class="footer__block3-item"> Product Policy</li>
            <li class="footer__block3-item"> How to Return</li>
          </ul>
          <ul class="footer__block3-list">
            <li class="footer__block3-title">Categories</li>
            <li class="footer__block3-item">House Plants
            </li>
            <li class="footer__block3-item"> Potter Plants</li>
            <li class="footer__block3-item"> Seeds</li>
            <li class="footer__block3-item"> Small Plants</li>
            <li class="footer__block3-item"> Accessories</li>
          </ul>
        </div>
        <div class="social">
          <ul class="footer__block3-list footer__block3-list-social">
            <li class="footer__block3-title footer__block3-title-social">Social Media</li>
            <div class="footer__block3-items">
              <li class="footer__block3-item footer__block3-item-social"><a href="#"><img src="../img/facebook.png"
                    alt=""></a></li>
              <li class="footer__block3-item footer__block3-item-social"><a href="#"><img src="../img/insta.png"
                    alt=""></a></li>
              <li class="footer__block3-item footer__block3-item-social"><a href="#"><img src="../img/twitter.png"
                    alt=""></a></li>
              <li class="footer__block3-item footer__block3-item-social"><a href="#"><img src="../img/in.png"
                    alt=""></a></li>
              <li class="footer__block3-item footer__block3-item-social"><a href="#"><img src="../img/youtube.png"
                    alt=""></a></li>
            </div>
          </ul>
          <ul class="footer__block3-list footer__block3-list-accept">
            <li class="footer__block3-title footer__block3-title-accept">We accept</li>
            <div class="footer__block3-items">
              <li class="footer__block3-item-accept"><a href="#"><img src="../img/accept.png" alt=""></a></li>
            </div>
          </ul>
        </div>
      </div>
        <!-- Copyright -->
        <div class="copyright">
          <div class="copyright__wrapper">
            <div class="copyright__title">© 2021 GreenShop. All Rights Reserved.</div>
          </div>
        </div>
    </div>
  </div>
</footer>