.about {
    background: #FAFAFA;
}

.about .header{
    background: #fff;
    height: 96px;
}



.about .header__top {
   
}
.header__left {
}
.about .logo {
    color: black;
}
.about .list{
    margin-top: 6px;
    margin-left: 138px;
}

.about .list__link {
    color:#080808;
}

.about .laungrech {
    color:#080808;
    margin-top: -8px;
    margin-right: 84px;
}
.about .header__right-btn {
    border: 1px solid rgba(0, 0, 0, 0.32);
    color:#080808;
    margin-top: -7px;
    margin-right: 9px;
}
.about .header__left{
    margin-top: 10px;
}
.about .header__bottom {
    display: none;
}
.about .header__text{
    display: none;
}
.about .menu__item:first-child{
    border-bottom: 1px solid black;
}
.about .menu__item{
    height: 23px;
}
.about .header__info {
    display: none;
}
.about__main{
    margin-top: -70px;
    
}
.about__main-wrapper{
    background: url(../img/about__bg.png);
    height: 648px;
    
}
.about__wrapper-text{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items:center;
   height: 100%;
   margin-top: 69px;
   margin-left: 9px;
}

.about__main-title{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;
text-align: center;
width: 383px;
color: #FFFFFF;
margin-top: 8px;
}
.about__main-subtitle{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 24px;
text-align: center;
width: 383px;
margin-top: 13px;
color: #FFFFFF;
}
.about__slider{
    background: #FAFAFA;
    position: relative;
    overflow: hidden;
}
.about__slider-title{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;
color: #080808;
width: 383px;

}
.about__slider-subtitle{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    width: 383px;
    color: #080808;
    padding-top: 10px;
    padding-bottom: 42px;
    

}
.about .header__pagination span{
    width: 227px;
    background: #828282;
}
.about .header__pagination {
   justify-content: flex-start;
}
.about .pagination__number{
    color: #828282;
}
.about__slider{
    padding-top: 140px;
}
.about__slider-wrapper{
    padding-top: 100px;
    padding-left: 264px;
    padding-bottom: 100px;
}
.slider__img-wrapper{


        display: flex;
        position: absolute;
        top: 140px;
        left: 777px;
        width: 1115px;
    
    img{
        width: 552px;
        height: 444px;
       
    }
    .kitchen{
          margin-left: 12px;
    }
   
}
.about__info-left img{
    width: 516px;
    height: 607px;
}
.about__info {
    margin-top: 135px;
     position: relative;
}
.container {
}
.about__info-wrapper {
    padding-left: 67px;
    display: flex;
   
}
.about__info-left {
}
.about__info-right {
    margin-top: -10px;
}
.about__info-items {
    display: flex;
    flex-wrap: wrap;
    margin-left: 132px;
    width: 368px;
        margin-top: 100px;
}
.about__info-item {
    width: 139px;
    margin-right: 40px;
    margin-bottom: 48px;
}
.about__info-number {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 68px;
color: #080808;
}
.about__info-subtitle {
    font-family: 'Montserrat';
    font-style: normal;
    margin-top: 4px;
    font-weight: 300;
    font-size: 14px;
    line-height: 132%;
    color: #080808;
    
}
.about__info-text {
    margin-left: 132px;
    width: 382px;
}
.about__info-text p{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 24px;
color: #080808;

}
.about__info-image {
    position: absolute;
    width: 168px;
    height: 216px;
    right: 0;
    top: 430px;
}
.about__info-item:last-child{
    
        margin-bottom: 70px;
}
.person{
    margin-top: 166px;
    margin-bottom: 146px;
}
.person__name{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;
color: #080808;
}
.person__work{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
color: #080808;
width: 167px;
margin-top: 23px;
margin-bottom: 53px;
}
.person__text{
    display: flex;
    margin-left: -47px;
    margin-top: -5px;
}
.person__wrapper{
    padding-left: 200px;
    display: flex;
}
.person__inner{
    padding-top: 80px;
}
.person__inner span{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #080808;
}
.person__subtitle{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 170.66%;
color: #080808;
opacity: 0.7;
width: 383px;
margin-left: 32px;
}
.person__img{
    margin-left: 132px;
     margin-top: 12px;
}
.person__info{
    padding-left: 136px;
   

}
.person__info{
    display: flex;
}
.person__info-wrapper{
    padding-top: 100px;
    margin-left: 265px;
}
.person__item{
    margin-right: 79px;
}
.person__item-title{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 68px;
color: #080808;

}
.person__item-subtitle{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 132%;
width: 81px;
margin-top: 6px;
color: #080808;
}
.person__item-subtitle2{
    width: 94px;
}
.person__info-img{
    margin-top: -75px;
}
.person__info-items{
    display: flex;
    margin-bottom: 56px;
}
.person__info-subtitle{
    width: 519px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 23.5px;
color: #080808;
margin-top: 37px;

}
.about .lorem{
    background: black;
    height: 809px;
}
.about .lorem__title{
    color:#FFFFFF;
    margin-left: -32px;
}
.about .lorem__subtitle{
    color: #FFFFFF;
opacity: 0.6;
margin-left: -2px;
    margin-top: 14px;
}

.about .gallery__name{
    display: none;
}
.about .footer{
    background: #ECECEC;
}
.about .footer__wrapper {
    padding: 144px 131px 25px 139px;
    margin-bottom: -24px;
}
.about .footer__news-title{
    display: none;
}
.about .footer__title{
    display: none;
}
.about .footer__about-title h1{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 51px;
color: #080808;
}
.about .footer__about-title{
    width: 424px;
}
.about .footer__subtitle{
    display: none;
}
.about .footer__list{
    display: none;
}
.about .footer__btn{
    display: none;
}
.about .footer__block-subtitle{
    margin-top: 91px;
    display: block;
}
.about .footer__block{
     padding: 15px 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items:center;
}
.about .footer__news-subtitle{
    width: 366px;
    margin-top: 13px;
    margin-right: 22px;
}
.about .footer__news-form{
    margin-top: -13px;
    width: 380px;
    border-bottom: 1px solid #515151;
    padding-bottom: 7px;
}
.about .footer__news-subtitle p{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 24px;

/* 1 */

color: #080808;
}
.about .one__footer-img{
    display: block;
}
.about .one__footer-img1{
    display: none;
}
.about .footer__news-text{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 170.66%;
color: #080808;
opacity: 0.7;

}
.about .footer__news-img{
    display: none;

}
.about .footer__about-title{
    
    display: block;
}
.about .footer__about-wrapper{
    display: flex;
    justify-content: flex-end;
    padding: 25px 0;
}
.about .footer__about-links{
    display: flex;
    align-items:center;
    margin-right: 14px;
}
.about .footer__about-link{
    margin-left: 16px;
}
.about .footer__about-email{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 13px;
letter-spacing: 0.06em;

/* 3 */

color: #080808;
margin-right: 167px;
}
.about .footer__about-social{
    display: block;
    margin-right: 20px;
    margin-top: -15px;
}
@media screen and(max-width:1024px) {
    .about__main-wrapper {
        background: url(../img/about__bg.png);
        height: 648px;
        background-size: cover;
        background-position: center;
    }
    .about__slider-wrapper {
        padding-top: 100px;
        padding-left: 129px;
        padding-bottom: 100px;
    }
    .slider__img-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        top: 140px;
        left: 634px;
        width: 1115px;
    }
    .about__info-left img {
        width: 516px;
        height: 394px;
    }
    .about__info-items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-left: 132px;
        width: 368px;
        margin-top: 6px;
    }
    .about__info-image {
       display: none;
    }
    .person__wrapper {
        padding-left: 65px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .person__info{
        padding-left: 67px;
        margin-top: 133px;
    }
    .about .footer__wrapper {
        padding: 98px 131px 46px 139px;
        margin-bottom: -24px;
    }
    .about .footer__block-subtitle {
        margin-top: 40px;
        display: block;
    }
    .about .footer__about-wrapper{
        justify-content: flex-start;
        width: 600px;
    }
    .person__info-wrapper{
        margin-left: 80px;
        padding-top: 20px;
    }
    .person__item {
        margin-right: 58px;
    }
    .person__info-subtitle{
        width: 455px;
    }
}
@media screen and(max-width:768px) {
    .about__info-number{
        font-size: 30px;
        height: 54px;
    }
    .about__info-items, .about__info-text{
        margin-left: 40px;
    }
    .about__info-item {
        width: 139px;
        margin-right: 40px;
        margin-bottom: 13px;
    }
    .about__info-item:last-child {
        margin-bottom: 13px;
    }
    .about__info-left img {
        width: 516px;
        height: 321px;
    }
    .person {
        margin-top: 72px;
        margin-bottom: 146px;
    }
    .person__name {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 44px;
        color: #080808;
    }
    .person__work {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: #080808;
        width: 140px;
        margin-top: 23px;
        margin-bottom: 53px;
    }
    .person__subtitle {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 170.66%;
        color: #080808;
        opacity: .7;
        width: 249px;
        margin-left: 32px;
    }
    .person__img {
        margin-left: 132px;
        margin-top: 78px;
    }
    .person__item-title{
        font-size: 30px;
        height: 53px;
    }
    .person__info-subtitle {
        width: 417px;
        font-size: 12px;
    }
    .person {
    margin-top: 72px;
    margin-bottom: 146px;
}
    .person__info {
        padding-left: 200px;
        flex-direction: column;
        margin-top: 133px;
    }
    .person__info-subtitle {
        width: 419px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 23.5px;
        color: #080808;
        margin-top: -23px;
        text-align: center;
    }
    .person__info-wrapper{
        margin-left: -50px;
    }
    .person__info-items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 56px;
        justify-content: center;
        margin-left: -37px;
    }
    .person__info-img {
        margin-top: -75px;
        margin-left: -5px;
    }
    .slider__img-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        top: 140px;
        left: 538px;
        width: 1103px;
    }
    .about .footer__block {
        padding: 15px 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        /* -webkit-box-orient: horizontal; */
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: flex-start;
    }
    .about .footer__news-subtitle {
        width: 366px;
        margin-top: 13px;
        margin-right: 54px;
        margin-bottom: 25px;
    }
    .about .footer__wrapper {
        padding: 98px 131px 46px 18px;
        margin-bottom: -24px;
    }
    
}
@media screen and(max-width:420px) {
    .about__main-subtitle {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        width: 327px;
        margin-top: 13px;
        color: #fff;
    }
    .about__slider-title{
        width: 327px;
    }
    .about__info-wrapper {
        padding-left: 0px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 700px;
        justify-content: flex-end;
    }
    .about__main-title{
        width: 327px;
    }
    .about__info-items,.about__info-text {
        margin-left: 18px;
        width: 327px;
    }
    .about__info-text{
        margin-top: 10px;
    }
    .about__info-left img {
        width: 324px;
        height: 321px;
        margin-left: 348px;
    }
   .about .burger-btn {
        position: absolute;
        left: 326px;
        top: 31px;
    }
    .about__info-right{
        margin-top: 0px;
        padding-top: 319px;
    }
    .about__info-item {
        width: 139px;
        margin-right: 24px;
        margin-bottom: 13px;
    }
    .about__info-items{
        margin-top: 20px;
    }
    .person__info{
        display: none;
    }
    .person__wrapper {
        padding-left: 39px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .person__name{
        margin-left: -25px;
        margin-top: 280px;
    }
    .person__work{
        margin-left: -25px;
    }
    .person__img {
        margin-left: -297px;
        margin-top: -80px;
    }
    .about .lorem {
        background: #000;
        height: 663px;
    }
    .about__slider-wrapper {
        padding-top: 100px;
        padding-left: 36px;
        padding-bottom: 100px;
    }
    .about .footer__about-title{
        width: 327px;
        font-size: 32px;
    }
    .about .footer__news-subtitle {
        width: 311px;
        margin-top: 13px;
        margin-right: 0px;
        margin-bottom: 25px;
    }
    .about .footer__block-subtitle {
        margin-top: 0px;
        display: block;
    }
    .about .footer__news-form {
        margin-top: -13px;
        width: 310px;
        border-bottom: 1px solid #515151;
        padding-bottom: 7px;
        margin-right: 0;
    }
    .about .footer__about-links{
        margin-left: -16px;
    margin-top: 10px;
    }
    .about .footer__about-wrapper {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        width: 327px;
        flex-direction: column;
    }
    .about .footer__wrapper {
        padding: 39px 131px 78px 4px;
        margin-bottom: -24px;
    }
    .about .footer__about-title h1 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 51px;
        color: #080808;
        width: 327px;
    }
    .about__slider-subtitle {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        width: 287px;
        color: #080808;
        padding-top: 10px;
        padding-bottom: 42px;
    }
    .about__slider {
        padding-top: 10px;
        height: 800px;
        .header__pagination{
            top: 360px;
            margin-right: 0px;
    padding-right: 0px;
        }
    }
    .slider__img-wrapper img {
        width: 325px;
        height: 360px;
    }
    .slider__img-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        top: 415px;
        left: 7px;
        width: 1118px;
    }
}