@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');
.one__project .header{
    background:url(../img/header-bg1.png);
    height: 756px;
    background-size: cover;
    background-position: center;
  }
  .one__project .container{
    width: 1320px;
    margin: 0 auto;
    height: 100%;
  }
  .header__wrapper {
   
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .header__top{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-bottom: 183px;
  }
  .header__left {
    display: flex;
    align-items:center;
  }
  .logo {
    font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #ffffff;
  }
  .list {
    display: flex;
    align-items:center;
    margin-left: 263px;
  }
  .list__item {
    margin-right: 48px;
  }
  .list__link {
    font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.06em;
  color: #ffffff;
  }
  .header__right {
    display: flex;
    align-items:center;
  }
  .laungrech {
    margin-right: 83px;
    font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  letter-spacing: 0.06em;
  color: #ffffff;
  }
  .header__right-btn {
    padding: 17px 48px;
    font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  background: none;
  text-align: right;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  border: 1px solid rgba($color: #FDFDFD
  , $alpha: 0.32);
  }
  .header__bottom {
    margin-left: 141px;
  }
 .one__project .header__title {
   
  width: 600px;
    
    h1{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        color: #FFFFFF;
    }
  }
  
  .one__project .header__block {
    margin-left: 0;
    margin-top: 37px;
    display: flex;
    width: 1045px;
    justify-content: space-between;
  }
  .head__subtitle p{
    font-family: 'Montserrat';
    
    font-weight: 400;
    font-size: 14px;
    line-height: 170.66%;
    color: #FFFFFF;
   

  }
  .head__subtitle{
    width: 462px;}
  .header__subtitle{
    width: 600px;
    display: flex;
    align-items:center;
    justify-content: center;
    span{
      width: 56px;
      height: 1px;
      background: rgba(255, 255, 255, 0.4);
   
    }
  }
  .header__pagination {
    display: flex;
    align-items:center;
    justify-content: center;
  }
  .header__pagination span{
    height: 1px;
    width: 89px;
    background: #ffffff;
  }
  .pagination__number {
    font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.06em;
  
  color: #FFFFFF;
  margin: 0 11px;
  }
  .pagination img{
    width: 4px;
    height: 8px;
  }
  .social__link{
    font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  
  }
  .one__project .header__info{
    display: flex;
    align-items:center;
    margin-top: 64px;
  }
  .header__info-item{
    display: flex;
    align-items:center;
  }
  .header__info-wrapper{
    padding-left: 141px;
    display: flex;
  }
  .header__info-item{
    margin-right: 32px;
  }
  .header__info-town{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 13px;
letter-spacing: 0.06em;
color: #FFFFFF;
opacity: 0.7;
margin-left: 12px;
  }
  .one__project .social__title{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 170.66%;
color: #FFFFFF;
  }
.social__wrapper{
    display: flex;
    align-items:center;
    padding-top: 193px;
  }
  .social__imgs{
    display: flex;
    padding-left: 118px;
  }
  .social__img{
    margin-right: 8px;
  }
  .one__proj-title{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
width: 420px;
color: #080808;
  }
  .one__proj-subtitle{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 24px;
color: #080808;
opacity: 0.7;
width: 715px; 
margin-top: 17px;
  margin-bottom: 40px;
  }
  .one__project .header__subtitle {
  justify-content: flex-start;
 
  }
  .one__project .header__subtitle p{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 12px;
text-align: right;
letter-spacing: 0.12em;
text-transform: uppercase;
color: #080808;

  }
  .one__project .header__subtitle span{
    background: rgba(49, 49, 49, 0.2);
  }
  .one__project-wrap{
    padding-left: 150px;
    padding-top: 140px;
  }
  .one__project-items{
    padding: 140px 0;
    display: flex;
    flex-wrap: wrap;
  }
  .one__project-item{
    margin-right: 8px;
    margin-bottom: 8px;
  }
  .one__project .mr0{
    margin-right: 0;
  }
  .one__wrapper-btn{
    text-align: center;
    width: 100%;
    margin-top: 80px;
  }
  .one__project-btn{
    cursor: pointer;
    background: none;
    padding: 17px 48px;
    border: 1px solid rgba($color: #080808, $alpha:0.32);
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 13px;
text-align: center;
color: #080808;
  }
  .gall{
    margin-top: 0;
    height: 800px;
    background: #000;
    padding-top: 350px;
  }
  .one__project .gallery{
     margin-top: 0;
  }
 
  .perfect{
    background: #000;
    height: 600px;
  }
  .perfect__text{
    text-align: center;
    padding-bottom: 128px;
  }
  .perfect__wrapper span{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 8px;
line-height: 14px;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #828282;

  }
  .perfect__title{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;
color: #FFFFFF;
margin-top: 16px;

  }
  .bg{
    height: 210px;
    background: #fff;
  }
  .one__footer-image{
    width: 100%;
    position: absolute;
    top: 4715px;
  }
  .one__footer-image img{
    margin: 0 auto;
    height: 600px;
  }
  .gall{
    border-bottom: 1px solid #000;
  }
  .perfect{
    border-top: 1px solid #000;
  }