<section class="title">
  <div class="container">
    <div class="title__wrapper">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="../img/title-bg.png" alt=""></div>
          <div class="swiper-slide"><img src="../img/title-bg.png" alt=""></div>
          <div class="swiper-slide"><img src="../img/title-bg.png" alt=""></div>
       
      </div> </div><div class="swiper-pagination"></div>
<div class="main__text">
<span >Welcome to GreenShop</span>
<div class="main__title">
<h1 class=> Let’s Make a
  Better <span>Planet</span></h1>
</div>
<div class="main__subtitle">
  <p>We are an online plant shop offering a wide range of cheap and trendy plants. Use our plants to create an unique Urban Jungle. Order your favorite plants!</p>
</div>
<a href="#" class="main__link">Shop now</a>
</div>
    </div>
   
 

</div>

</section>            
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script>
  var swiper = new Swiper(".mySwiper", {
    spaceBetween: 30,
    pagination: {
      el: ".swiper-pagination",
      clickable: true
    }
  });
</script>