@font-face {
    font-family: 'CeraPro';           /* название одно */
    src: url('../fonts/CeraPro-Bold.woff');     /* разные файлы */
    font-weight: 700;                  /* разная плотность */
    font-style: normal;
  }
  @font-face {
    font-family: 'CeraPro';           /* название одно */
    src: url('../fonts/CeraPro-Regular.woff');     /* разные файлы */
    font-weight: 400;                  /* разная плотность */
    font-style: normal;
  }
  @font-face {
    font-family: 'CeraPro';           /* название одно */
    src: url('../fonts/CeraPro-Medium.woff');     /* разные файлы */
    font-weight: 500;                  /* разная плотность */
    font-style: normal;
  }